<div class="row">
  {foreach from=$all_news item=news}
  <div class="col-md-6">
    <div class="thumbnail" style="height: 370px;">
      <div class="box">
        <img src="{$news.pic}" alt="{$news.news_title}">
      </div>
      <div class="caption" style="display: inline-block;">
        <div>
          <h3 style="font-weight: bold; ">{$news.news_title}
            <div style="display: inline-block;">
              {if $isAdmin}
              <a href="news_tool.php?op=news_form&news_sn={$news.news_sn}" class="btn btn-warning">編輯商品</a>
              <a href="news_tool.php?op=delete_news&news_sn={$news.news_sn}" class="btn btn-danger">刪除商品</a>
              {/if}
            </div>
          </h3>
          <div style="margin-left: 20px;">{$news.news_content}</div>
        </div>
      </div>
    </div>
  </div>
  {/foreach}
</div>